.fluid-container {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--primary-dark-color);
}
.container {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  padding: 32px;
}

.register-wrapper {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.presentation-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: 480px;
}

.presentation-wrapper h1 {
  font-size: 54px;
  line-height: 64px;
  color: var(--title-color);
  margin-bottom: 24px;
}

.logo-presentation {
  width: 150px;
  height: 60px;
  margin-bottom: 24px;
}

.form-wrapper {
  width: 100%;
  max-width: 480px;
  background: var(--terciary-dark-color);
  border-radius: 5px;
  padding: 64px 64px 32px 64px;
}

.form-group {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
}

.form-group input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  border: none;
  background: rgb(18, 18, 20);
  border-color: rgb(18, 18, 20);
  color: rgba(255, 255, 255, 0.63);
  padding: 0px 1em 0px 2.65em;
  border-radius: 5px;
}

.register-link-wrapper {
  margin-top: 20px;
}

.register-link-wrapper a {
  color: var(--secondary-green-color);
}

.submit-btn {
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.644);
  background: var(--primary-green-color);
  width: 100%;
  border-radius: 5px;
  padding: 12px 32px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  -webkit-text-decoration: none;
  text-decoration: none;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 768px) {
  .register-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .form-wrapper {
    margin-top: 20px;
  }
  .submit-btn {
    padding: 12px 16px;
  }
}
