.fluid-container {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--primary-dark-color);
}

.header {
  display: flex;
  width: 90%;
  max-width: 1200px;

  padding-top: 24px;
}

.header .register-btn,
.header .login-btn {
  height: 50%;
  background: #3f3d56;
  border-color: rgb(18, 18, 20);
  padding: 12px 30px;
  color: rgba(255, 255, 255, 0.63);
  border-radius: 5px;
}

.brand {
  flex: 1;
}

.register-btn {
  margin: 0 20px;
}

.logo {
  height: 60px;
}

.hero {
  display: flex;
  width: 90%;
  max-width: 1200px;
  height: 70vh;

  margin-top: 20vh;
}

.hero .txt {
  flex: 1;
}

.hero .txt h1 {
  font-size: 54px;
  line-height: 64px;
  color: var(--title-color);
}

.hero .txt h2 {
  margin-top: 1vh;
  font-size: 1.4rem;
  color: var(--title-color);
}

.hero .txt .entry-btn {
  margin-top: 10px;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.644);
  background: var(--secondary-green-color);
  width: 25%;
  border-radius: 3px;
  padding: 12px 32px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  -webkit-text-decoration: none;
  text-decoration: none;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 16px;
  line-height: 26px;
}

.hero .img {
  flex: 1;
}

.hero .img img {
  width: 100%;
}

@media (max-width: 576px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .login-btn,
  .register-btn {
    margin: 10px 0;
    width: 50%;
  }
  .hero {
    flex-direction: column;
    margin-top: 5vh;
  }
  .hero .txt .entry-btn {
    width: 55%;
    margin: 2vh 0 5vh;
  }
  .carousel {
    margin-top: 25vh;
  }
}

@media (min-width: 576px) and (max-width: 1000px) {
  .hero {
    margin-top: 5vh;
    height: 30vh;
  }
}

.carousel {
  max-width: 1200px;
  width: 70%;
}

.carousel button {
  background-color: #46ad741f;
}

.carousel button:hover,
.carousel button:enabled .carousel button:focus,
.carousel button:enabled {
  background-color: #0ab959 !important;
}

.questions {
  margin: 10vh 0;
  color: white;
  height: 30vh;
  width: 90%;
  max-width: 1200px;
}

.questions h1 {
  font-size: 40px;
  line-height: 64px;
  color: var(--title-color);
}

.questions-wrapper {
  display: flex;
  margin-top: 20px;
}

.awesome-input {
  width:90%;
  display: block;
  min-height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  position: relative;
}

.question-btn {
  margin-left: 15px;
  min-height: calc(2em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: #fff;
  background-color: var(--primary-green-color);
  border-color: var(--primary-green-color);
}

.search-icon {
  height: calc(2em + 0.75rem + 2px);
}